{% load crispy_forms_tags %}

<section id="contact">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">Me Contacter</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% include "alertes.html" %}
                <form id="contactForm" name="sentMessage" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.content|as_crispy_field }}
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>